@font-face {
    font-family: Bortola-Fontes;
    src: url(../Fontes/Bahiana/Bahiana-Regular.ttf);
}

@font-face {
    font-family: Rowdies-light ;
    src: url(../Fontes/Rowdies/Rowdies-Light.ttf);
}

@font-face {
    font-family: Rowdies-Bold ;
    src: url(../Fontes/Rowdies/Rowdies-Bold.ttf);
}